.dark-mode-switch {
  padding: 20px;
  border-bottom: 1px solid var(--border);

  .block {
    float: left;
    width: 50%;
  }

  .dark-mode-icon {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  .dark-mode-switch-actions {
    padding: 25px;

    a {
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: 1px solid var(--border);
      background-color: var(--background);
      color: var(--color-black);
      display: block;
      margin-top: 10px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        background-color: #eee;
        color: var(--color-white);
      }

      &.activate {
        background-color: var(--main-dark);
        color: #fff;
        border: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
