.notification {
  width: 100%;
  padding: 15px 0;
  margin-top: -40px;
  font-size: 16px;

  @media (width: 1200px) {
    padding: 15px 10px;
    width: calc(100% - 20px);
  }

  @media (width: 1124px) {
    padding: 15px 10px;
    width: calc(100% - 20px);
  }

  @media (width: 800px) {
    padding: 15px 10px;
    width: calc(100% - 20px);
  }

  @media (width: 768px) {
    padding: 15px 10px;
    width: calc(100% - 20px);
  }

  @media (max-width: 400px) {
    padding: 15px 10px;
    width: calc(100% - 20px);
  }

  .alert {
    margin-bottom: 0px;
  }

  p {
    padding: 5px 0;

    &:last-of-type {
      padding-bottom: 15px;
    }

    a {
      color: var(--main-dark);
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .because {
    .why-title {
      font-size: 20px;
      padding-top: 20px;
      font-weight: 900;
    }

    p {
      padding: 5px 0;

      &:last-of-type {
        padding-bottom: 15px;
      }

      a {
        color: var(--main-dark);
        font-weight: 600;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  button {
    margin-right: 20px;

    .subscribe {
      color: white;
    }
  }
}
