.menuItemLI {
  height: 40px;
  line-height: 40px;

  &.not-extension {
    @media (max-width: 799px) {
      #controls {
        i {
          color: var(--light-grey);
        }

        &.color-picker-wrapper {
          display: inline-block;
        }
      }
    }
  }

  .menuItem {
    width: 19px;
    height: 40px;
    float: left;
  }

  i {
    color: var(--menu-background);
    font-size: 16px;
    margin-left: 5px;
  }

  &:hover {
    i {
      color: var(--light-grey);

      &:hover {
        color: var(--main-dark);
        cursor: pointer;
      }
    }

    .color-picker-wrapper {
      display: inline-block;
    }
  }

  .color-picker-wrapper {
    width: 20px;
    height: 100%;
    display: none;
    cursor: pointer;
    position: relative;

    .color-picker {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      position: absolute;
      top: 16px;
      left: 4px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  a {
    float: right;
    margin-right: 2px;
    width: 138px;

    &.draggable {
      // cursor: move;
      cursor: pointer;
    }

    @media (max-width: 799px) {
      width: 118px;
    }

    span {
      float: right;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 40px;
      width: 140px;

      @media (max-width: 799px) {
        width: 120px;
      }

      &.long {
        line-height: 14px;
        white-space: normal;
        padding: 6px 0 0;
        box-sizing: border-box;
      }
    }

    div {
      position: relative;

      .above {
        position: absolute;
        top: 34px;
        height: 6px;
        z-index: 500;
        width: 100%;
        background-color: var(--background);
        left: -2px;
      }
    }
  }

  // React-color
  .popover {
    position: absolute;
    z-index: 1000;
  }

  .cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .picker-wrapper {
    position: absolute;
    top: -20px;
    left: 25px;

    .twitter-picker {
      background-color: var(--color-picker-background) !important;
      div:nth-child(2) {
        border-color: transparent transparent var(--color-picker-background) !important;
      }
      div {
        div:nth-child(8),
        div:nth-child(9) {
          display: none !important;
        }
      }
    }
  }

  .blue {
    background-color: blue;
  }
}
