.login {
  margin: 40px auto 0;
  width: 400px;

  h1 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  input {
    display: block;
    width: 400px;
    box-sizing: border-box;
    // border-radius: 4px;
    border: 1px solid var(--border);
    height: 60px;
    margin-bottom: 15px;
    background-color: var(--background);
    font-size: 16px;
    padding: 10px;
  }

  button {
    display: block;
    width: 400px;
    box-sizing: border-box;
    // border-radius: 4px;
    border: 1px solid var(--border);
    height: 60px;
    background-color: var(--main-dark);
    font-size: 16px;
    padding: 10px;
    color: #fff;
    text-align: center;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
