.subscribe-page {
  .subscribe-button {
    display: block;
    background-color: var(--main-dark);
    color: #fff;
    border: 2px solid transparent;
    // border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 20px;
    padding: 13px 23px;
    text-align: center;
    margin: 0 auto;

    &:hover {
      color: var(--main-dark);
      border: 3px solid var(--main-dark);
      background-color: var(--background);
      box-sizing: border-box;
    }
  }

  .settings-link {
    text-align: center;
    margin-top: 20px;
    display: block;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
