.newHabit {
  padding: 15px;
  background-color: var(--background);

  .errors {
    list-style: none;
    color: #fff;
    margin-bottom: 20px;
    background-color: var(--main-dark);
    padding: 5px;
  }

  .field {
    margin-bottom: 15px;
  }

  .label {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
  }

  input {
    height: 40px;
    border: 1px solid var(--main-dark);
    background-color: var(--background);
    color: var(--color-black);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .advanced-options {
    margin-bottom: 40px;

    .ao-title {
      color: var(--main-dark);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      span {
        margin-left: 5px;
      }
    }

    .archived {
      padding-top: 10px;
      border-top: 1px solid var(--border);
    }

    .option {
      color: var(--light-black);
      margin-top: 10px;

      label {
        margin-left: 10px;
        position: relative;
        cursor: pointer;
      }

      input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }

      input[type="checkbox"] + label::before {
        content: "\a0";
        display: inline-block;
        margin-right: 5px;
        width: 0.8em;
        height: 0.8em;
        line-height: 0.8em;
        transition: all 0.5s;
        border: 1px solid silver;
      }

      input[type="checkbox"]:checked + label::before {
        content: "\a0";
        background: var(--main-dark);
        border: 1px solid white;
        box-shadow: inset 0 0 0 1px white, 0 0 0 1px var(--main);
      }

      a {
        display: block;
        margin: 5px 0 0 10px;
        color: var(--light-grey);
      }
    }
  }

  .frequency {
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--border);

    .frequency-title {
      margin-right: 50px;
      color: var(--main-dark);
    }

    .frequency-exp {
      display: block;
      color: var(--light-grey);
    }

    .frequency-blocks {
      margin: 10px 0px 10px 0px;
      color: var(--light-grey);
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .frequency-block {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
    }
    .frequency-cell {
      cursor: pointer;
      width: 40px;
      height: 25px;
      background-color: var(--main-dark);
      background-image: var(--noweekend-triangle-svg);
      background-size: 100% 100%;
      &.frequency-marked {
        background-image: none;
      }
      &:hover {
        background-color: var(--main);
      }
    }
  }

  .modal-button {
    margin-left: 15px;
    background-color: var(--main-dark);
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 1px solid var(--main-dark);

    &:hover {
      opacity: 0.8;
    }

    &.cancel {
      background-color: var(--background);
      color: var(--modal-cancel-button);

      &:hover {
        background-color: var(--main-dark);
        color: #fff;
      }
    }
  }

  .delete-button {
    span {
      text-decoration: underline;
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      color: red;
    }

    @media (max-width: 599px) {
      display: block;
      margin-bottom: 15px;
    }
  }
}
