.boardfooter {
  float: left;
  margin: 0 auto 50px;

  .counts {
    // border-radius: 0 0 5px 5px;
    border: 1px solid var(--border);
    border-top: 0;
    background-color: var(--background);
    height: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 327px);
    font-family: Lato;
    // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    @media (max-width: 799px) {
      width: calc(100% - 307px);
    }

    table {
      width: 100%;
      height: 40px;
      box-sizing: border-box;

      td {
        width: 60px;
        box-sizing: border-box;
        // border-right: 1px solid var(--border-inner);
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        height: 40px;
        line-height: 40px;

        &.today {
          width: 120px;
        }

        // border-radius for tds
        // &:first-child{
        // 	border-bottom-left-radius: 5px;
        // }

        // &:last-child{
        // 	border-bottom-right-radius: 5px;
        // }
      }
    }
  }

  .newhabit,
  .titles {
    float: left;
  }

  .newhabit {
    width: 179px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 36px;
    @include box-sizing(border-box);

    @media (max-width: 799px) {
      width: 159px;
    }
  }

  .newhabit-hover:hover {
    cursor: pointer;
    background-color: var(--main-dark);
    color: #fff;
  }

  .stats-slider {
    width: 148px;
    float: left;

    .slider-wrapper {
      margin: 0 auto;
      width: 100px;
      line-height: 40px;

      .rc-slider {
        display: inline-block;
        cursor: grab;

        .rc-slider-rail {
          background-color: #ccc;
          height: 8px;
        }

        .rc-slider-track {
          background-color: transparent;
        }

        .rc-slider-handle {
          -webkit-transition: -webkit-transform 0.2s ease;
          transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
          transition: transform 0.2s ease, -webkit-transform 0.2s ease;
          border: 1px solid #bcbcbc;
          height: 24px;
          width: 24px;
          border-radius: 12px;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
          z-index: 1;
          margin-top: -7px;
        }
      }
    }
  }
}
