.habit-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wantyourboard {
    margin-top: 40px;
  }

  .wantyours {
    color: var(--color-black);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
  }
}

.habit-title {
  font-size: 25px;
  margin-bottom: 5px;
}
