.menu {
  // border-radius: 5px 0 0 5px;
  border: 1px solid var(--border);
  border-right: 0;
  background-color: var(--background);
  width: 180px;
  @include box-sizing(border-box);
  float: left;
  text-align: left;
  // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  @media (max-width: 799px) {
    width: 160px;
  }
}

.dragPreview {
  background-color: var(--background);
  width: 140px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 39px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  cursor: move;
}
