.applayout {
  margin: 0 auto;
  text-align: center;

  .app-wrapper {
    display: inline-block;
  }

  .spinner {
    background: url("../../images/spinner.svg") center center no-repeat;
    min-height: 100px;
  }

  .board-page {
    float: left;
    width: calc(100% - 180px);

    @media (max-width: 799px) {
      width: calc(100% - 160px);
    }
  }
}
