.confirm-deactivate-modal {
  p {
    margin-bottom: 10px;

    a {
      color: var(--main-dark);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .modal-button {
    margin-left: 15px;
    background-color: var(--main-dark);
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 1px solid var(--main-dark);

    &:hover {
      opacity: 0.8;
    }

    &.delete {
      background-color: red;
      border: 1px solid red;
    }

    &.cancel {
      background-color: var(--background);
      color: #555;

      &:hover {
        background-color: var(--main-dark);
        color: #fff;
      }
    }
  }
}
