.subnav {
  width: 100%;
  padding: 15px 25px;
  margin-bottom: 40px;
  box-sizing: border-box;
  min-width: 510px;
  font-size: 15px;
  overflow-x: scroll;

  @media (max-width: 510px) {
    width: 100vw;
  }

  @media (min-width: 511px) {
    .subscribe-button {
      display: none;
    }
  }

  .left {
    float: left;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 15px;
    }
  }

  .right {
    float: right;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .left,
  .right {
    li a {
      &:hover {
        padding-bottom: 7px;
        border-bottom: 3px solid var(--main-dark);
      }
    }
  }

  .active {
    padding-bottom: 7px;
    border-bottom: 3px solid var(--main-dark);
  }

  .subscribe-button {
    padding: 10px 20px;
    background-color: var(--main-dark);
    color: #fff;
    border: 2px solid var(--main-dark);

    &:hover {
      background-color: var(--background);
      color: var(--main-dark);
      cursor: pointer;
    }
  }
}
