.onboarding {
  padding: 10px 10px 5px 10px;
}

.onboarding-controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--main-dark);
  }

  :hover {
    font-weight: bold;

    cursor: pointer;
  }
}
