.board {
  float: left;
  width: 100%;

  .board-table {
    height: 40px;
    @include box-sizing(border-box);
    float: left;
    background-color: var(--background);
    border-top: 1px solid var(--border-inner);
    border-bottom: 1px solid var(--border-inner);

    tr.freelimit {
      opacity: 0.5;
    }

    td {
      width: 60px;
      // max-width: 60px;
      @include box-sizing(border-box);
      // border-right: 1px solid var(--border-inner);
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // padding: 5px;

      &.today {
        width: 120px;
        max-width: 120px;
        border-right: 0;

        &.darkerstart {
          background-color: var(--main-dark);
        }
      }

      &.weekend {
        background-color: var(--weekend-background);
      }

      &.skip {
        background-image: var(--skip-triangle-svg);
        background-size: 100% 100%;
        border-right: 1px solid var(--background);
        background-color: var(--background);

        &.weekend {
          background-image: var(--noweekend-triangle-svg);
          background-size: 100% 100%;
          background-color: var(--weekend-background);
          border-right: 1px solid var(--weekend-background);
        }

        &:hover {
          &:after {
            content: "";
          }
        }
      }

      @media (min-width: 768px) {
        &:hover {
          cursor: pointer;
          color: #fff;

          &.green {
            background-color: var(--main-dark);
          }

          &.blue {
            background-color: $blue;
          }

          &.orange {
            background-color: $orange;
          }

          &.red {
            background-color: $red;
          }

          &.purple {
            background-color: $purple;
          }

          &.grey {
            background-color: $grey;
          }

          &.teal {
            background-color: $teal;
          }

          &:after {
            content: attr(data-descr-done);
          }
        }
      }

      &.popup-extension {
        &:hover {
          cursor: pointer;
          color: #fff;

          &.green {
            background-color: var(--main-dark);
          }

          &.blue {
            background-color: $blue;
          }

          &.orange {
            background-color: $orange;
          }

          &.red {
            background-color: $red;
          }

          &.purple {
            background-color: $purple;
          }

          &.grey {
            background-color: $grey;
          }

          &.teal {
            background-color: $teal;
          }

          &:after {
            content: attr(data-descr-done);
          }
        }
      }

      &.done,
      &.skip {
        background-color: var(--background);

        &.not-safari {
          transition: background 0.2s ease-in-out;
        }

        &.popup-extension {
          &:hover {
            background-color: var(--background) !important;
            cursor: pointer;
            transition: background 0s ease-in-out;

            &:after {
              content: attr(data-descr-done);
            }
          }

          &.green {
            &:hover {
              color: $green;
              border: 1px solid $green;
            }
          }

          &.blue {
            &:hover {
              color: $blue;
              border: 1px solid $blue;
            }
          }

          &.orange {
            &:hover {
              color: $orange;
              border: 1px solid $orange;
            }
          }

          &.red {
            &:hover {
              color: $red;
              border: 1px solid $red;
            }
          }

          &.purple {
            &:hover {
              color: $purple;
              border: 1px solid $purple;
            }
          }

          &.grey {
            &:hover {
              color: $grey;
              border: 1px solid $grey;
            }
          }

          &.teal {
            &:hover {
              color: $teal;
              border: 1px solid $teal;
            }
          }
        }

        @media (min-width: 768px) {
          &:hover {
            background-color: var(--background) !important;
            cursor: pointer;
            transition: background 0s ease-in-out;

            &:after {
              content: attr(data-descr-done);
            }
          }

          &.green {
            &:hover {
              color: $green;
              border: 1px solid $green;
            }
          }

          &.blue {
            &:hover {
              color: $blue;
              border: 1px solid $blue;
            }
          }

          &.orange {
            &:hover {
              color: $orange;
              border: 1px solid $orange;
            }
          }

          &.red {
            &:hover {
              color: $red;
              border: 1px solid $red;
            }
          }

          &.purple {
            &:hover {
              color: $purple;
              border: 1px solid $purple;
            }
          }

          &.grey {
            &:hover {
              color: $grey;
              border: 1px solid $grey;
            }
          }

          &.teal {
            &:hover {
              color: $teal;
              border: 1px solid $teal;
            }
          }
        }
      }
    }
  }
}
