// DEPRECATED

.subheader {
  float: left;

  .weekdays {
    border: 1px solid var(--border);
    border-top: 0;
    border-bottom: 0;
    background-color: var(--background);
    height: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: calc(100% - 298px);

    @media (max-width: 799px) {
      width: calc(100% - 278px);
    }

    table {
      width: 100%;
      height: 40px;
      box-sizing: border-box;

      td {
        width: 60px;
        box-sizing: border-box;
        border-right: 1px solid var(--border-inner);
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        height: 40px;
        line-height: 40px;

        &.today {
          width: 120px;
        }

        &.weekend {
          background-color: #f6f6f6;
        }
      }
    }
  }

  .habitsheader,
  .titles {
    float: left;
  }

  .habitsheader {
    width: 199px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: left;

    @media (max-width: 799px) {
      width: 179px;
    }

    a {
      margin-left: 58px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
    }
  }

  .titles {
    width: 99px;

    a {
      width: 48px;
      font-size: 13px;
      float: left;
      text-align: center;
      margin-top: 6px;
    }
  }
}
