.reviewModal {
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .review-modal-text {
    font-size: 15px;
    display: block;
    margin: 5px 0;
    text-align: left;

    &.black{
      font-weight: bold;
    }
  }

  .stars {
    display: flex;
    flex-direction: row;
    margin: 0 auto 20px;
  }

  .review-buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .modal-button {
    margin: 0px 10px 0px 10px;
    background-color: var(--main-dark);
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 1px solid var(--main-dark);

    &:hover {
      opacity: 0.8;
    }

    &.cancel {
      background-color: var(--background);
      color: #555;

      &:hover {
        background-color: var(--main-dark);
        color: #fff;
      }
    }
  }
}
