.skipModal {
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .skip-modal-text {
    font-size: 15px;
    display: block;
    margin: 5px 0;
    text-align: left;

    &.black{
      font-weight: bold;
    }
  }

  .triangle {
    width: 120px;
    height: 80px;
    background-color: var(--weekend-background);
    background-image: var(--skip-triangle-svg);
    background-size: 100% 100%;
    margin: 0 auto 20px;
  }
}
