@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
    font-family: 'euclid-medium';
    src: url(../fonts/Euclid/euclidflex-medium-webfont.woff2),
         url(../fonts/Euclid/euclidflex-medium-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}