* {
  margin: 0;
  outline: 0 none;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  font-family: $main-font;
  // font-weight: 500;
  color: var(--main-font-color);
  background-color: var(--background);
  font-size: 14px;
}

#everydaycheck {
  width: 100%;
  height: 100%;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: var(--main-font-color);
}

.clear {
  clear: both;
}

.modal-backdrop.showBrightModal {
  background-color: var(--background);
}
