// colors
$black: #212121;

$background: #fff;
$main-font-color: #6f7a80;
$light-grey: #a8afb3;
$light-black: #1c242b;

$border: #dfe3e6;
$border-inner: #fff;

$menuBackground: #fff;

// percents
$twenty: #ff0000;
$forty: #ffa503;
$sixty: #249cff;
$eighty: #249c03;
$hundred: #2fcf03;

// greens

$main-dark: #249c03;
$main: #2fcf03;

// scales
$green: #249c03;
$blue: #249cff;
$orange: #ffa503;
$red: #ff0000;
$purple: #a64ca6;
$grey: #888888;
$teal: #329999;

$spinnerUrl: "../images/spinner.svg";

// greenscale 10
// #B0FD9B, #71FC4A, #2FCF03, #2BB305, #249c03, #1F8104, #196804, #144f03, #0E3C01, #092801
$greenscale1: #b0fd9b;
$greenscale2: #71fc4a;
$greenscale3: #2fcf03;
$greenscale4: #2bb305;
$greenscale5: #249c03;
$greenscale6: #1f8104;
$greenscale7: #196804;
$greenscale8: #144f03;
$greenscale9: #0e3c01;
$greenscale10: #092801;

// bluescale
$bluescale1: #b0edff;
$bluescale2: #71dcff;
$bluescale3: #3fcfff;
$bluescale4: #3bb3ff;
$bluescale5: #249cff;
$bluescale6: #1f81ff;
$bluescale7: #1968ff;
$bluescale8: #144fff;
$bluescale9: #0e3cff;
$bluescale10: #0908ff;

// orangescale
$orangescale1: #fff69b;
$orangescale2: #ffe54a;
$orangescale3: #ffd803;
$orangescale4: #ffbc05;
$orangescale5: #ffa503;
$orangescale6: #ff8a04;
$orangescale7: #ff7104;
$orangescale8: #ff5803;
$orangescale9: #ff3101;
$orangescale10: #ff0000;

// redscale
$redscale1: #ffb2b2;
$redscale2: #ff9999;
$redscale3: #ff6666;
$redscale4: #ff4c4c;
$redscale5: #ff0000;
$redscale6: #e50000;
$redscale7: #cc0000;
$redscale8: #990000;
$redscale9: #660000;
$redscale10: #4c0000;

// purplescale
$purplescale1: #d8b2d8;
$purplescale2: #cc99cc;
$purplescale3: #bf7fbf;
$purplescale4: #b266b2;
$purplescale5: #a64ca6;
$purplescale6: #993299;
$purplescale7: #800080;
$purplescale8: #730073;
$purplescale9: #660066;
$purplescale10: #4c004c;

// greyscale
$greyscale1: #ddd;
$greyscale2: #ccc;
$greyscale3: #aaa;
$greyscale4: #999;
$greyscale5: #888;
$greyscale6: #777;
$greyscale7: #666;
$greyscale8: #555;
$greyscale9: #333;
$greyscale10: #000;

// tealscale
$tealscale1: #b2d8d8;
$tealscale2: #99cccc;
$tealscale3: #66b2b2;
$tealscale4: #4ca6a6;
$tealscale5: #329999;
$tealscale6: #008080;
$tealscale7: #007373;
$tealscale8: #006666;
$tealscale9: #004c4c;
$tealscale10: #003333;

// fonts

$main-font: "Avenir Next W01", Helvetica;
// $main-font: Lato, Helvetica;
