.web-extensions {
  padding: 40px;
  max-width: 800px;
  background-color: var(--background);
  // border-radius: 4px;
  margin: 60px auto;
  border: 1px solid var(--main-dark);

  @media (max-width: 599px) {
    .left,
    .right {
      display: block;
      width: 100%;
    }
  }

  .left {
    float: left;
    width: 40%;
    padding: 0 30px 0 0;
    box-sizing: border-box;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }
  }

  i {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
    margin-bottom: 10px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  .link {
    color: var(--main-dark);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .right {
    float: left;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: $grey;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }

    .chrome {
      margin-bottom: 60px;
    }

    .title {
      color: var(--light-black);
    }

    .alternative {
      font-size: 14px;
      margin-bottom: 30px;
    }

    button {
      text-align: center;
      background-color: var(--main-dark);
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      padding: 13px 23px;
      // border-radius: 5px;
      height: 50px;
      cursor: pointer;
      border: 3px solid var(--main-dark);
      margin: 40px auto;
      width: 200px;
      display: block;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
        box-sizing: border-box;
      }
    }

    .button {
      text-align: center;
      background-color: var(--main-dark);
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      box-sizing: border-box;
      // border-radius: 5px;
      height: 50px;
      line-height: 48px;
      cursor: pointer;
      border: 3px solid var(--main-dark);
      margin: 40px auto 0px;
      width: 200px;
      display: block;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
      }
    }
  }
}
