.account {
  padding: 20px;
  border-bottom: 1px solid var(--border);

  .block {
    float: left;
    width: 50%;
  }

  i {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  .actions {
    padding: 25px;

    .errors {
      list-style: none;
      color: #fff;
      margin-bottom: 20px;
      background-color: var(--main-dark);
      padding: 5px;
    }

    a {
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: 1px solid var(--border);
      background-color: var(--background);
      color: var(--color-black);
      display: inline-block;
      margin-top: 10px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        color: var(--color-white);
        background-color: #eee;
      }

      &.subscribe {
        background-color: var(--main-dark);
        color: #fff;
        border: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    h4 {
      font-size: 20px;
      color: var(--light-black);
      line-height: 25px;
      font-weight: 500px;
      margin-bottom: 10px;
      max-width: 400px;
    }

    label {
      font-size: 16px;
      line-height: 25px;
      font-weight: 500px;
      margin-bottom: 10px;
      max-width: 400px;
    }

    input {
      height: 40px;
      border: 1px solid var(--main-dark);
      background-color: var(--background);
      color: var(--color-black);
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }

    .change-name-form {
      padding-bottom: 25px;
      border-bottom: 2px solid var(--border);
      margin-bottom: 25px;
    }

    .saved-changes {
      margin-left: 10px;
    }
  }
}
