.webextensions-page {
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 600px;
    margin-bottom: 20px;
    color: var(--light-grey);
  }

  p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    line-height: 30px;
    color: $grey;
    margin-bottom: 30px;

    .link {
      color: var(--main-dark);

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .browsers {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }

  .alternative {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .left {
    width: 50%;
    float: left;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }

    .button {
      text-align: center;
      background-color: var(--main-dark);
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      box-sizing: border-box;
      height: 50px;
      line-height: 48px;
      cursor: pointer;
      border: 3px solid var(--main-dark);
      margin: 40px auto 130px;
      width: 200px;
      display: block;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
      }
    }
  }

  .right {
    width: 50%;
    float: left;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }

    .button {
      text-align: center;
      background-color: var(--main-dark);
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      box-sizing: border-box;
      height: 50px;
      line-height: 48px;
      cursor: pointer;
      border: 3px solid var(--main-dark);
      margin: 40px auto 130px;
      width: 200px;
      display: block;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
      }
    }
  }

  .faq {
    font-size: 14px;

    a {
      display: block;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--main-dark);
      }
    }
  }
}
