.settings-page {
  margin-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;

  .settings-header {
    background-color: var(--background);
    // border-radius: 5px 5px 0 0;
    border: 1px solid var(--border);
    height: 80px;
    box-sizing: border-box;
    width: 100%;

    .settings-title {
      font-size: 30px;
      line-height: 80px;
      margin-left: 20px;

      i {
        color: var(--main-dark);
        margin-right: 15px;
      }
    }
  }

  .settings-list {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-width: 0 1px 1px 1px;
    margin-bottom: 20px;
  }
}
