.tips {
  padding: 40px;
  max-width: 800px;
  background-color: var(--background);
  // border-radius: 4px;
  margin: 60px auto;
  border: 1px solid var(--main-dark);

  @media (max-width: 599px) {
    .left,
    .right {
      display: block;
      width: 100%;
    }
  }

  .left {
    float: left;
    width: 40%;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }
  }

  i {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  .right {
    float: left;
    width: 60%;

    @media (max-width: 599px) {
      display: block;
      width: 100%;
    }
  }

  .tip {
    display: block;
    margin: 20px 0;
    color: var(--main-dark);

    &:hover {
      text-decoration: underline;
    }
  }
}
