.export-data {
  padding: 20px;
  border-bottom: 1px solid var(--border);

  .block {
    float: left;
    width: 50%;
  }

  .export-icon {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  i {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  .export-data-actions {
    padding: 25px;

    a {
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: 1px solid var(--border);
      background-color: var(--main-dark);
      color: #fff;
      border: none;
      display: block;
      margin-top: 10px;
      font-size: 16px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
