.premiumFeatureModal {
  padding: 0 40px 40px;

  .iconWrapper {
    text-align: center;
    margin-bottom: 30px;
  }

  .premium-feature {
    font-weight: 900;
    display: block;
    margin-bottom: 15px;
  }

  .premium-text {
    display: block;
    margin-bottom: 15px;
  }

  .option {
    color: var(--main-dark);
  }

  .learn {
    float: left;
    padding-top: 35px;

    &:hover {
      text-decoration: underline;
    }
  }

  .upgrade-button {
    display: block;
    background-color: var(--main-dark);
    color: #fff;
    border: 2px solid transparent;
    // border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 20px;
    padding: 13px 15px;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    float: right;

    &:hover {
      color: var(--main-dark);
      border: 3px solid var(--main-dark);
      background-color: var(--background);
      box-sizing: border-box;
    }
  }
}
