.backdrop-blue {
  background-color: aqua;
}
.modal {
  color: #555;

  &.premiumfeature {
    .modal-dialog {
      width: 500px;
    }
  }

  &.premium {
    .modal-dialog {
      width: 840px;
      @media (max-width: 840px) {
        width: 100%;
      }
    }

  }

  .modal-dialog {
    width: 600px;

    @media (max-width: 599px) {
      width: 380px;
    }

    .modal-content {
      background-color: var(--background);

      border-radius: 0px;

      .modal-header {
        font-size: 18px;
        color: var(--main-dark);
        border-bottom: 1px solid var(--border);
        text-transform: uppercase;

        button.close {
          float: right;
          font-size: 21px;
          font-weight: 700;
          line-height: 1;
          color: var(--color-black);
          text-shadow: 0 1px 0 #fff;
          opacity: 0.2;
          filter: alpha(opacity=20);
          cursor: pointer;
          border: 0;
          background-color: var(--background);
        }

        a {
          color: var(--main-dark);
        }
      }

      .noborder {
        border-bottom: none;
      }

      .modal-body {
        padding-bottom: 30px;
      }

      .modal-footer {
        button {
          background-color: var(--background);
          color: #999;
          border-radius: 0;

          &:hover {
            background-color: var(--main-dark);
            color: #fff;
            border-color: var(--main-dark);
          }

          &.btn-cancel {
            color: var(--modal-cancel-button);

            &:hover {
              background-color: #e6e6e6;
              border-color: #adadad;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }
  }
}
