.header {
  .dates {
    // border-radius: 5px 5px 0 0 ;
    border: 1px solid var(--border);
    border-bottom: 0;
    background-color: var(--background);
    height: 80px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    table {
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      border-collapse: separate;

      td {
        width: 60px;
        box-sizing: border-box;
        border-right: 1px solid var(--border-inner);
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        height: 80px;
        line-height: 40px;

        &.today {
          width: 120px;

          // .date div{
          // 	background-color: var(--main-dark);
          // 	color: #fff;
          // 	width: 30px;
          // 	height: 30px;
          // 	line-height: 30px;
          // 	border-radius: 50%;
          // 	margin: -1px auto -2px;
          // }
          .circle {
            width: 70px;
            height: 70px;
            margin: 5px auto;
            border: 3px solid var(--main-dark);
            border-radius: 50%;
            box-sizing: border-box;
            background-color: var(--main-dark);
            color: #fff;

            .date {
              color: #fff;
            }

            .month {
              margin-top: 2px;
            }
          }
        }

        &.weekend {
          background-color: var(--weekend-background);
        }

        div {
          line-height: normal;
        }

        .month {
          margin-top: 11px;
          font-size: 14px;
        }

        .date {
          font-size: 22px;
          color: var(--color-black);
          font-family: Lato;
          margin-top: -3px;
        }

        .day {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
        }

        // border-radius for tds
        // &:first-child { border-top-left-radius: 5px; }
        // &:last-child { border-top-right-radius: 5px; }
      }
    }
  }

  .left {
    width: 179px;
    float: left;

    @media (max-width: 799px) {
      width: 160px;
    }

    .prev {
      margin: 0 0 0 140px;

      @media (max-width: 799px) {
        margin: 0 0 0 120px;
      }
    }

    .habitsheader {
      width: 179px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: left;
      float: left;

      @media (max-width: 799px) {
        width: 159px;
      }

      a {
        margin-left: 39px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }

  .right {
    float: left;

    .titles {
      width: 148px;
      display: block;

      a {
        width: 48px;
        font-size: 13px;
        float: left;
        text-align: center;
        margin-top: 6px;
      }

      &.extraline a {
        margin-top: 0px;
      }
    }
  }

  .prev {
    width: 39px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $main-dark;
    }
  }
  .next {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 30px;
    height: 33px;
    padding: 5px 10px 0px 12px;
    text-align: center;

    .dark-mode-icon-board {
      margin-right: 3px;
      > div {
        display: flex;
      }
    }

    .dark-mode-switch-board {
      padding-top: 2px;
      display: flex;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      color: var(--main-dark);
    }
  }

  .prev {
    margin: 0 0 0 140px;

    @media (max-width: 799px) {
      margin: 0 0 0 120px;
    }
  }
}
