.confirm-delete-modal {
  .modal-button {
    margin-left: 15px;
    background-color: var(--main-dark);
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    float: right;
    border: 1px solid var(--main-dark);

    &:hover {
      opacity: 0.8;
    }

    &.cancel {
      background-color: var(--background);
      color: #555;

      &:hover {
        background-color: var(--main-dark);
        color: #fff;
      }
    }
  }
}
