.nohabits {
  padding: 40px;
  text-align: left;

  h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 600px;
    width: 1000px;
    margin: 0 auto 20px;
    color: var(--light-grey);
  }

  button {
    text-align: center;
    background-color: var(--main-dark);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 23px;
    // border-radius: 5px;
    height: 50px;
    cursor: pointer;
    border: 3px solid var(--main-dark);
    margin: 50px auto 0;
    width: 170px;
    display: block;

    &:hover {
      color: var(--main-dark);
      border: 3px solid var(--main-dark);
      background-color: var(--background);
      box-sizing: border-box;
    }
  }
}
