.footer {
  height: 50px;
  padding: 15px 25px;
  box-sizing: border-box;
  min-width: 400px;

  ul.info {
    list-style: outside none none;
    float: left;
  }

  ul {
    list-style: outside none none;
    float: right;

    li {
      display: inline-block;
      margin-bottom: 10px;

      &:after {
        content: " ·\00a0";
      }

      &:last-child:after {
        content: none;
      }

      a {
        cursor: pointer;
        color: var(--main-dark);
        width: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: var(--light-grey);
      }
    }
  }
}
