// Ionicons Font Path
// --------------------------

@font-face {
  font-family: $ionicons-font-family;
  src: url("../../fonts/Ionicons/ionicons.eot");
  src: url("../../fonts/Ionicons/ionicons.eot") format("embedded-opentype"),
    url("../../fonts/Ionicons/ionicons.ttf") format("truetype"),
    url("../../fonts/Ionicons/ionicons.woff") format("woff"),
    url("../../fonts/Ionicons/ionicons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ion {
  display: inline-block;
  font-family: $ionicons-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
