.app{
	margin: 0 auto;
	// width: 1200px;
	height: 100%;
	min-width: 490px;

	.content{
		margin: 0 10px;

	  @media (width: 1024px) {
	    margin: 0;
	  }

		@media (max-width: 510px) {
	    // margin: 0;
	    min-width: 490px;
	  }
	}

	.wrap{
		min-height: calc(100% - 100px);
	}
}