.subscriptionModal {
  font-size: 18px;

  .left {
    width: 50%;
    float: left;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0;

    @media (max-width: 840px) {
      width: 100%;
      float: none;
    }

    .title {
      font-size: 26px;
      margin-bottom: 10px;
      display: block;
      font-family: "euclid-medium";
      color: var(--light-black);
      line-height: 34px;
      text-align: center;

      .brand {
        color: var(--main-dark);
      }

      div {
        display: inline-block;
        margin-left: 10px;
      }
    }

    .title-popup-extension {
      font-size: 22px;
    }

    .feature {
      padding-top: 10px;
      display: block;
      height: 40px;
      font-size: 15px;

      div {
        display: inline-block;
        margin-right: 10px;
        float: left;
        margin-top: -2px;
      }

      .feat-text {
        font-weight: 400;
      }
    }
  }

  .right {
    width: 50%;
    float: right;
    padding: 0 30px 10px 30px;
    box-sizing: border-box;

    @media (max-width: 840px) {
      width: 100%;
      padding: 30px 30px 10px 30px;
      float: none;
    }

    .multiplatform {
      width: 90%;
      margin-top: -20px;
      margin-bottom: 10px;
    }

    .grandfathered {
      font-size: 14px;

      a {
        display: block;
        margin-bottom: 10px;
      }

      .thank {
        color: var(--main-dark);
        text-decoration: underline;
      }

      .signature {
        float: right;
        font-style: italic;
      }
    }

    .subscribe-error {
      font-size: 16px;
      margin-bottom: 10px;
      color: #fa755a;
    }

    .spinner {
      background: url("../../images/spinner.svg") center center no-repeat;
      min-height: 50px;
    }

    .option {
      border: 3px solid #ccc;
      font-size: 14px;
      height: 50px;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px;

      &:hover,
      &.selected {
        cursor: pointer;
        border: 3px solid var(--main-dark);
        // background-color: #def0d2;

        .right-column {
          border-left: 3px solid var(--main-dark);
          background-color: var(--main-dark);

          .promo {
            color: #fff;
          }
        }
      }

      a {
        color: var(--light-black);
      }

      .left-column {
        width: 53%;
        float: left;
        padding: 5px;
        box-sizing: border-box;

        .billing {
          display: block;
        }

        .note {
          display: block;
          font-size: 12px;
          margin-top: 5px;

          .save {
            white-space: nowrap;
            font-weight: 900;
          }
        }

        .note-popup-extension {
          font-size: 10px;
        }
      }

      .center-column {
        width: 30%;
        float: left;
        padding: 5px;
        box-sizing: border-box;

        .price {
          font-weight: 900;
          color: var(--main-dark);
        }
      }

      .right-column {
        width: 17%;
        float: left;
        text-align: center;
        border-left: 3px solid #ccc;
        box-sizing: border-box;
        height: 100%;

        .promo {
          display: block;
          margin-top: 4px;
          line-height: 18px;
          font-size: 12px;
        }
      }
    }

    .total {
      margin: 20px 0 20px 0;
      font-size: 15px;

      .total-price {
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
        color: var(--main-dark);
      }
      .total-promo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 10px;

        a {
          color: var(--main-dark);
        }

        .no-promo-price {
          font-weight: bold;
          font-size: 16px;
          text-decoration: line-through;
          color: red;
        }
      }
      .total-no-promo {
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        color: var(--light-black);
      }
    }

    .subscribe-button {
      display: block;
      background-color: var(--main-dark);
      color: #fff;
      border: 2px solid transparent;
      // border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      height: 50px;
      line-height: 20px;
      text-align: center;
      margin: 0 auto;
      width: 100%;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
        box-sizing: border-box;
      }
    }

    .buttons {
      text-align: center;
    }

    .cancel {
      font-size: 14px;
      margin-top: 10px;
      display: block;
    }

    .powered {
      float: right;
      width: 80px;
      margin-top: 20px;
    }
  }
}
