.login {
  h2 {
    color: var(--color-black);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
  }

  .login-form-wrapper {
    margin: 0 auto;
    width: 400px;

    @media (max-width: 460px) {
      width: 320px;
    }

    .errors {
      list-style: none;
      color: #fff;
      margin-bottom: 20px;
      background-color: var(--main-dark);
      padding: 5px;
    }

    .form-row {
      margin-bottom: 20px;
      position: relative;
      width: 100%;

      .login-input {
        background-color: var(--background);
        border: 2px solid var(--light-grey);
        // border-radius: 5px;
        color: var(--color-black);
        font-size: 16px;
        height: 70px;
        padding: 33px 13px 13px;
        transition: border-color 0.1s ease 0s;
        width: 100%;
        box-sizing: border-box;
      }

      .text-label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        left: 15px;
        overflow: hidden;
        padding-right: 30px;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        top: 15px;
        transition: color 0.1s ease 0s;
        white-space: nowrap;
        width: 100%;
      }

      input:focus {
        border-color: var(--main-dark);

        ~ .text-label {
          color: var(--main-dark);
        }
      }
    }

    .login-button {
      display: block;
      background-color: var(--main-dark);
      color: #fff;
      width: 100%;
      border: 2px solid transparent;
      // border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      height: 50px;
      line-height: 20px;
      padding: 13px 23px;
      text-align: center;

      &:hover {
        color: var(--main-dark);
        border: 3px solid var(--main-dark);
        background-color: var(--background);
        box-sizing: border-box;
      }
    }

    .forgot {
      color: var(--main-dark);
      margin-top: 20px;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .signuplink {
      color: var(--main-dark);
      margin-top: 20px;
      display: inline-block;
      float: right;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .or {
    text-transform: uppercase;
    font-size: 16px;
    margin: 40px auto 20px;
    text-align: center;
  }

  .apple-signin-button {
    margin-top: 15px;
    :hover {
      cursor: pointer;
    }
  }
}
