.stats {
  float: left;
  // width: 150px;
  border-spacing: 5px;
  border: 1px solid var(--border);
  border-left: 0;
  @include box-sizing(border-box);
  // border-radius: 0 5px 5px 0;
  font-family: Lato;
  // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  table {
    width: 100%;
    height: 40px;
    float: left;
    background-color: var(--background);
    // border-radius: 0 5px 5px 0;

    td {
      width: 49px;
      @include box-sizing(border-box);
      border-left: 1px solid var(--border-inner);
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      height: 40px;
      line-height: 40px;

      // &:last-child{
      // 	width: 49px;
      // }

      .record {
        color: #fff;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        vertical-align: middle;
        // margin: 7px auto 0;
        margin: 4px auto 0;
        transition: background 0.2s ease-in-out;

        &.big-record {
          width: 32px;
          height: 32px;
          line-height: 32px;
          margin: 0 auto;
        }

        &.green {
          border: 3px solid $green;
          color: $green;
        }

        &.blue {
          border: 3px solid $blue;
          color: $blue;
        }

        &.orange {
          border: 3px solid $orange;
          color: $orange;
        }

        &.red {
          border: 3px solid $red;
          color: $red;
        }

        &.purple {
          border: 3px solid $purple;
          color: $purple;
        }

        &.grey {
          border: 3px solid $grey;
          color: $grey;
        }

        &.teal {
          border: 3px solid $teal;
          color: $teal;
        }
      }

      .twenty {
        color: $twenty;
      }

      .forty {
        color: $forty;
      }

      .sixty {
        color: $sixty;
      }

      .eighty {
        color: $eighty;
      }

      .hundred {
        color: $hundred;
      }
    }

    // tr:first-child td:last-child { border-top-right-radius: 5px; }
    // tr:last-child td:last-child { border-bottom-right-radius: 5px; }
  }
}
