.yearview-layout {
  width: 1024px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30px 255px 30px auto;
  grid-template-areas:
    "go-back . . switch"
    "yearview yearview yearview yearview"
    "download download . share"
    "download-info download-info download-info download-info";

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 27px;
    border: 1px solid var(--border);
    border-bottom: 0px;
    border-right: 0px;

    &.current-streak {
      border-left: 0px;
    }

    .number {
      font-size: 25px;
      font-weight: bold;
      color: var(---habit-view-title-color);

      &.currentlongest {
        &.green {
          color: $green;
        }

        &.blue {
          color: $blue;
        }

        &.orange {
          color: $orange;
        }

        &.red {
          color: $red;
        }

        &.purple {
          color: $purple;
        }

        &.grey {
          color: $grey;
        }

        &.teal {
          color: $teal;
        }
      }

      &.twenty {
        color: $twenty;
      }

      &.forty {
        color: $forty;
      }

      &.sixty {
        color: $sixty;
      }

      &.eighty {
        color: $eighty;
      }

      &.hundred {
        color: $hundred;
      }
    }

    .meta {
      text-transform: uppercase;
    }
  }

  .yearview {
    grid-area: yearview;
    border: 1px solid var(--border);
    display: grid;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas:
      "habit-title habit-title habit-title branding"
      "board board board board"
      "current-streak longest-streak total-count completion-rate";
  }

  .habit-title {
    grid-area: habit-title;
    font-family: "euclid-medium";
    color: var(---habit-view-title-color);
    padding: 30px 0 0 19px;
  }

  .branding {
    grid-area: branding;
    display: inline-block;
    padding: 22px 0 0 41px;
    float: right;

    .imageby {
      float: left;
      font-size: 15px;
      margin: 2px 10px 0 0;
    }

    .logo {
      width: 18px;
      height: 18px;
      background: url("../../images/everyday.png") no-repeat scroll 0 0
        transparent;
      display: inline-block;
      background-size: 18px 18px;
      float: left;
    }

    .brand {
      font-size: 16px;
      margin-left: 7px;
      line-height: 15px;
      float: left;
      font-family: "euclid-medium";
      margin-top: 8px;
      color: var(--light-black);
    }
  }

  .current-streak {
    grid-area: current-streak;
  }

  .longest-streak {
    grid-area: longest-streak;
  }

  .total-count {
    grid-area: total-count;
  }

  .completion-rate {
    grid-area: completion-rate;
  }

  .download {
    grid-area: download;
    padding: 12px 5px 2px 5px;
    cursor: pointer;
  }

  .download-info {
    grid-area: download-info;
    margin-top: 25px;
    background-color: #f6f6f6;

    a {
      display: block;
      padding: 10px 0;
      margin-left: 5px;
    }

    img {
      width: 96%;
      margin: 0 auto;
      margin-left: 2%;
    }

    .link {
      color: var(--main-dark);
      background-color: #ddd;
      padding: 4px 10px;
      display: inline-block;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .share {
    grid-area: share;
    display: flex;
    justify-content: flex-end;
    padding: 12px 5px 2px 5px;

    p {
      padding-right: 12px;
    }
  }

  .goback {
    grid-area: go-back;
    padding-top: 10px;
  }

  .switch-visibility {
    grid-area: switch;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    > i {
      margin-left: 5px;
    }
  }

  .twitter-button {
    color: #1b95e0;
    cursor: pointer;
    font-size: 13px;
  }

  .yvboard {
    //background-color: var(--background);
    grid-area: board;
    border-spacing: 2px;
    // width: 995px;
    margin: 8px auto 15px;
    float: none;
    height: 102px;
  }

  .cell {
    width: 16px;
    height: 10px;
    background-color: var(--cell-yearview-background);
    border: 2px solid var(--background);

    &.cell-white {
      background-color: var(--background);
    }

    &:hover {
      opacity: 0.5;
    }

    &.day-of-week {
      background-color: var(--background);
      font-size: 8px;
      text-align: center;
      vertical-align: middle;
    }

    &.month {
      background-color: var(--background);
      text-align: left;
      font-size: 8px;
      vertical-align: middle;
      word-break: break-all;
      padding-bottom: 3px;
    }

    &.skip {
      background-image: var(--noweekend-triangle-svg);
      background-size: contain;
    }
  }
}
