.nav {
  width: 100%;
  // height: 24px;
  padding: 15px 25px 10px;
  box-sizing: border-box;
  min-width: 510px;
  // border-bottom: 1px solid var(--border);
  margin-bottom: 20px;

  .menu-item {
    background-color: var(--backround);
  }

  @media (max-width: 510px) {
    width: 100vw;

    .subscribe-button {
      display: none;
    }
  }

  .brand-wrapper {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }

    .logo {
      width: 36px;
      height: 36px;
      background: url("../../images/everyday.png") no-repeat scroll 0 0
        transparent;
      display: inline-block;
      background-size: 36px 36px;
      float: left;
    }

    .brand {
      font-size: 26px;
      margin-left: 15px;
      line-height: 24px;
      float: left;
      font-family: "euclid-medium";
      margin-top: 15px;
      color: var(--light-black);
    }
  }

  .subscribe-button {
    float: right;
    margin-right: 38px;
    padding: 12px 20px 10px;
    color: var(--main-dark);
    // border-radius: 4px;
    // border: 2px solid var(--main-dark);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    @media (max-width: 480px) {
      margin-right: 0;
      padding: 10px;
    }

    div {
      display: inline-block;
      margin-right: 5px;
      margin-top: -1px;
      float: left;
    }
  }

  .nav-options {
    float: right;
    line-height: 24px;
    list-style: none;
    margin-top: 7px;

    > li {
      display: inline-block;
    }

    &.guest {
      li {
        display: inline-block;
        margin-left: 25px;

        &:hover {
          cursor: pointer;
          border-bottom: 3px solid var(--main-dark);

          a {
            color: var(--main-dark);
          }
        }
      }
    }

    .total-count {
      .count {
        font-family: "Lato";
        font-weight: 600;
      }

      div {
        display: inline-block;
        margin-right: 5px;
        margin-top: 2px;
        float: left;
      }
    }

    .dropdown-menu {
      background-color: var(--background);
      border-color: var(--border);
    }

    #userMenu {
      border: none;
      background-color: var(--background);
      font-size: 14px;
      cursor: pointer;
      color: var(--main-font-color);
      border-radius: 0;
      border-bottom: 2px solid var(--background);
      padding: 2px 0 3px;
      margin: 0 0 0 12px;

      &:hover {
        border-bottom: 2px solid var(--main-dark);
        cursor: pointer;
        color: var(--main-dark);
      }

      &:focus {
        outline: none;
        background-color: var(--background);
      }

      &:active {
        background-color: var(--background);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .ion-ios-person-outline::before {
      margin-right: 10px;
      font-size: 20px;
      vertical-align: -12%;
      color: var(--main-dark);
    }

    .dropdown-menu {
      color: var(--main-font-color);
      border-radius: 0;

      li {
        height: inherit;

        &.divider {
          height: 1px;
          background-color: var(--border);
        }
      }

      li > a {
        color: var(--main-font-color);

        &:visited {
          background-color: var(--background);
        }

        &:hover {
          background-color: var(--main-dark);
          color: #fff;
        }
      }

      li.upgrade {
        a {
          background-color: var(--main-dark);
          color: white;

          &:hover {
            background-color: var(--main);
          }
        }
      }
    }

    button {
      font-family: var(--main)-font;
    }
  }
}

#tooltip {
  .tooltip-inner {
    max-width: 170px;
  }
}
