.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  height: 100%;
  background-color: var(--main-dark);
  color: white;
  font-size: 16px;
}

.banner-close {
  &:hover {
    cursor: pointer;
  }
}
