.delete-account {
  padding: 20px;
  border-bottom: 1px solid var(--border);

  .block {
    float: left;
    width: 50%;
  }

  i {
    color: var(--main-dark);
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: var(--light-black);
    line-height: 25px;
    font-weight: 500px;
    margin-bottom: 10px;
    max-width: 400px;
  }

  .text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400px;
    color: $grey;
    max-width: 400px;
  }

  .line {
    margin-top: 18px;
    height: 2px;
    width: 30px;
    background-color: var(--main-dark);
  }

  .actions {
    padding: 25px;

    a {
      font-size: 16px;
      display: block;
    }

    .deactivate {
      text-decoration: underline;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}
